/***** BASE STYLES *****/
/*** {
    outline: 1px solid red;
}
**/

body {
    color: #727272;
    font-family: 'Sourse Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
    overflow: auto;
}

.half-width {
    float: left;
    width: 600px;
   
}

.third-width {
    float: left;
    width: 400px;
   
}

/***** HEADER SECTION *****/

.homepage-hero {
    background: url("../img/full-background.png");
    background-size: cover;
    height: 800px;
}

header h1 {
    color: #7b7354;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    clear: both;
}

nav {
    float: right;
    padding: 83px 25px;
    width: 900px;
}

nav ul li {
    display: inline-block;
    text-decoration: underline;
    padding-left: 30px;
}

nav ul li a {
    color: #727172;
    font-size: 18px;
    text-decoration: solid;
    text-transform: uppercase;
    padding-left: 50px;
}

header h2 {
    clear: both;
    color: #2B2B2B;
    font-family: 'Lora', serif;;
    font-size: 72px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
    width: 1000px;
}

header h2 span {
    color: #9B9B9B
}


/***** ABOUT SECTION *****/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}

#about p {
    color: #7F7F7F;
    font-size: 21px;
    line-height: 40PX;
    padding-left: 50px;
    padding-right: 50px;
}

/***** WORK SECTION *****/

#work {
    background-color: #F9CEB7;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
     width: 190px;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/***** CONTACT SECTION *****/

#contact {
    background-color: #f9efef;
}

#contact .full-width {
    padding: 80px 0;
}

#contact img#contact-img {
    border: 12px solid #ffffff;
    margin-left: 25px;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
    }

#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
    
}

#contact #email-header {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-size: 20px;
    font-weight: bold;
    line-height: 44px ;
    margin: 40px 0 0 0;
}

#contact a { 
    color: #8d8889;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

/****** Projects Page Styles ******/


/****** Projects Page Header Styles ******/

.projects-hero {
    background-color: #f9efef;
}

/****** Projects Page Projects Styles ******/

#proj-section {
    background-color: #f5f5f5;
    text-align: center;
}

#proj-section .full-width {
    padding: 80px 0;
}

#proj-section .third-width {
    float: left;
}

#proj-section img {
    padding-bottom: 30px;
    height: 200px;
    width: 300px;
}

#proj-section h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    width: 300px;
}

#proj-section p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

